html,
body {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Jaldi', sans-serif;
  background-image: url("../images/bg.jpg");
  background-color: #cccccc;

  background-size:120vmax;
  background-repeat: round;
  background-repeat: no-repeat;
}

body {
  min-height: 100px;
  overflow: hidden;
}





/* Main body */
.main {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; 
  height: 90vmax;
  background-color:rgb(0, 0, 0, 0.80);
  overflow:hidden;
}

.main .heading {
  font-size: 8vh;
  color:rgb(255, 255, 255);
  margin-bottom: 153vh;
  margin-right: 85vh;
}

.donate_div {
  text-align: center;
  position: absolute;
  top: 27vh;
  width: 50vmax;
  margin-left: 4vh;
}
.donate_div .donate{
  font-size:2vh;
  color:white;
}

.donation_form {

position: absolute;

position: absolute;
height: 600px;
left: 300px;
right: 84px;
top: calc(50% - 246px/2);

font-family: Jaldi;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 41px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}

/* Image */
/* spinal_cord 1 */

.spine_image {
position: absolute;
width: 524px;
height: 899px;
right: 60px;
bottom: -20px;
background: url("../images/spinal_cord.png");
}


/* Nav Bar */
.nav_div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: rgb(70, 128, 255);
  
}

.nav_div li {
  float: left;
}

.nav_div li a:hover:not(.active) {
  background-color: rgb(255, 255, 255);
}

.nav_div .active {
  background-color: #f65151;
  padding-right: 1vmax;
  color: rgb(255, 255, 255);
  font-size: 2vh;
  font-weight: bolder;
}

.nav_div {
  overflow: hidden;
  background-color: #333;
  opacity: 95%;
}

.nav_div a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 60px 20px;
  text-decoration: none;
  font-size: 1vmax;
}

.nav_div a[class="pages"] {
    margin-left:12vmax;
    padding-left: 4vh;
    padding-right: 4vh;
}

.nav_div a[class="pages"]:hover {
  font-style: italic;
  color:  #f65151;
}

